<div class="column is-12">
  <section class="hero is-info welcome is-small">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">
                Resumo da Conta Cadastrada
              </h1>
          </div>
      </div>
  </section>
  <div class="box content" style="margin-top: 1rem;">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th><abbr title="User">Usuário</abbr></th>
                <th><abbr title="Country">País</abbr></th>
                <th><abbr title="Golden Points">Pontos de Ouro</abbr></th>
                <th><abbr title="PLatinum Points">Pontos de PLatina</abbr></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @my_nintendo_point.username %> </td>
                <td><%= @my_nintendo_point.country  %></td>
                <td><%= @my_nintendo_point.gpoints %></td>
                <td><%= @my_nintendo_point.spoints %></td>
            </tr>
        </tbody>
      </table>
      <div class="field">
          <div class="control">
              <div class="column">
                  <%= link_to 'Edit', edit_my_nintendo_point_path(@my_nintendo_point) %> |
                  <%= link_to 'Back', my_nintendo_points_path %>
              </div>
          </div>
      </div>
  </div>
</div>
