<div class="column">
    <div class="card events-card">
        <header class="card-header">
            <p class="card-header-title">
                Conta <span style="padding: 0 10px;"><%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>'), edit_my_nintendo_point_path(my_nintendo_point), title:'Editar Conta', class:"btn btn-sm btn-warning" %> </span>
            </p>
            <%= flag_icon(my_nintendo_point.country.downcase.to_sym) %>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="control has-icons-left has-icons-right">
                    <table class='table table-bordered table-hover'>
                        <tr>
                            <th width='30%'><%= MyNintendoPoint.human_attribute_name(:username).upcase %>:</th>
                            <td><%= my_nintendo_point.username %>
                        </tr>
                        <tr>
                            <th><%= MyNintendoPoint.human_attribute_name(:country).upcase %>:</th>
                            <td><%=my_nintendo_point.country %></td>
                        </tr>
                        <tr>
                            <th><%= MyNintendoPoint.human_attribute_name(:gpoints).mb_chars.upcase %>:</th>
                            <td><%=my_nintendo_point.gpoints %></td>
                        </tr>
                        <tr>
                            <th><%= MyNintendoPoint.human_attribute_name(:spoints).upcase %>:</th>
                            <td><%= my_nintendo_point.spoints %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>