<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR" dir="ltr">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>My Nintendo Points</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

<body>
    <!-- START NAV -->
    <nav class="navbar is-white is-inverted">
        <div class="container">
            <div class="navbar-brand">
                <%= link_to root_url do %>
                    <%= image_tag "Star_Coin_XS", class: "icon is-large is-left" %><span style="position:relative; bottom:15px; padding-left:10px;"> <strong>Meus Pontos Nintendo</strong></span>
                <% end %>
                <!-- <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div> -->
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <span class="navbar-item" style="position:absolute; right:0;">
                        <%= link_to destroy_user_session_path, method: 'delete', class: "button is-block is-info is-small" do %>
                            <i class="fa fa-power-off" aria-hidden="true"></i> Sair
                        <% end %>
                    </span>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <aside class="menu" style="background-color:#fff;">
                    <ul class="menu-list">
                        <li><span class="hero is-white"><strong>Dashboard</strong></span></li>
                        <li class="<%= 'is-active' if controller_name == "my_nintendo_points" and action_name == "index" %> ">
                            <%= link_to my_nintendo_points_path do %>
                                <i class="fa fa-database"></i> Minhas Contas
                            <% end %>
                        </li>
                        <li class="<%= 'is-active' if controller_name == "my_nintendo_points" and action_name == "new" %> ">
                            <%= link_to new_my_nintendo_point_path do %>
                                <i class="fa fa-plus-square"></i> Adicionar Conta
                            <% end %>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Administração
                    </p>
                    <ul class="menu-list">
                        <%= link_to edit_user_registration_path(current_user) do %>
                            <i class="fa fa-user"></i> Minha Conta
                        <% end %>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <%= render_breadcrumbs %>
                    </ul>
                </nav>
                <% if controller_name == "my_nintendo_points" and action_name == "index" %>
                    <section class="hero is-info welcome is-small">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    <%=current_user.email  %>
                                </h1>
                                <h2 class="subtitle">
                                    Game on!
                                </h2>
                            </div>
                        </div>
                    </section>
                <% end %>
                <section class="info-tiles">
                <% if yield(:title_page).empty? %>
                    <%= render 'shared/title' %>
                <% else %>
                    <%= yield(:title_page) %>
                <% end -%>
                </section>
                <section>
                    <div class="columns is-multiline is-mobile">
                        <%= yield %>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
  <div class="content has-text-centered" style="color:#fff !important;">
      <strong style="color:#fff;"> MyNintendoPoints </strong> by <a href="#">J<i class="fa fa-at"></i>C</a>.
  </div>
</footer>

</html>